
     <section class="showcase">
        <div class="container">
            <div class="content">
                <div class="title-2">GET UP TO 40% OFF</div>
                <div class="title-1">Don't Miss This Opportunity</div>
                <div class="title-3">Online shopping free home delivery over $100</div>
                <href class="btn-theme" to="/products">SHOP NOW</href>
            </div>
        <img src="./images/showcase-img.png" alt="" />
        </div>
    </section>
